---
http_interactions:
- request:
    method: get
    uri: http://showcase.doyoubuzz.com/api/v1/users?apikey=an_api_key&hash=11a68a1bb9e23c681438efb714c9ad4d&timestamp=1370534334
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"users":{"current_page_number":1,"num_items_per_page":20,"items":[{"username":"lvrmterjwea","email":"cuslijmmv@ocgfwjcuv.com","firstname":"nbrnoqn","lastname":"wfjtjnsxy","id":409632},{"username":"pnlsrwxqreh","email":"twbqztcml@qoyowwufj.com","firstname":"ydgnetr","lastname":"nthsuwmbw","id":683507},{"username":"xamfolxvmvw","email":"srcriwspx@kcbidtybg.com","firstname":"dikgtqf","lastname":"uqvipekkw","id":777742},{"username":"purrnerwsoi","email":"pbgqdrxgy@uwjvjdrae.com","firstname":"qunnwet","lastname":"kalpcmsct","id":489468},{"username":"jzagsqyhiay","email":"vtbbschfn@lckixfujf.com","firstname":"lqbsyvl","lastname":"qzwfcsash","id":159122},{"username":"evagcfc[...]
- request:
    method: get
    uri: http://showcase.doyoubuzz.com/api/v1/tags?apikey=an_api_key&hash=11a68a1bb9e23c681438efb714c9ad4d&timestamp=1370534334
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":356,"id_origin":0,"title":"Grande Ecole","translations":[{"id":1,"locale":"en","field":"title","content":"Master
        of Science in Management - Grande Ecole"}]},{"id":357,"id_origin":0,"title":"Bachelor
        in Business Administration","translations":[{"id":2,"locale":"en","field":"title","content":"Bachelor
        in Business Administration"}]},{"id":358,"id_origin":0,"title":"Mast\u00e8res
        Sp\u00e9cialis\u00e9s","translations":[{"id":4,"locale":"en","field":"title","content":"Advanced
        Masters"}]},{"id":359,"id_origin":0,"title":"Marketing Management","translations":[{"id":[...]
